.EightBall {
    width: 250px;
    text-align: center;
    margin: 2rem auto;
}

.EightBall-black,
.EightBall-green,
.EightBall-goldenrod,
.EightBall-red {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.EightBall-black {
    background-color: black;
}
.EightBall-green {
    background-color: green;
}
.EightBall-goldenrod {
    background-color: goldenrod;
}
.EightBall-red {
    background-color: red;
}

.EightBall-answer {
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
    padding: 45% 0;
}